/* Styling heading */
h1 {
    text-align: center;
}

/* Styling time area */
.timeTracker {
    background-color: #c0c0c0;
   
    border-radius: 4px;
    width: 60%;
    height: 38%;
    margin: 0 auto;
    margin-top: 112px;
    left: 275px;
    position: absolute;
}

.timeArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
}

.blockTime {
    
    width: 150px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.time {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 60px;
}

/* Style of buttons */
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    margin-top: 94px;
    bottom: 45px;
}

.button {
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    width: 180px;
    margin-right: 30px;
    margin-left: 30px;
    transition: .2s ease-in-out;
}

.start {
    background-color: green;

}

.stop {
    background-color: red;
}

.resume {
    background-color: green;
}

.pause {
    background-color: yellow;
}

#startNewtask {
    background-color: green;
    border-radius: 100px;
}


/* Round area */

.roundArea {
    box-shadow: 0px 0px 5px #666;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    min-height: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-left: 60px;
    margin-right: 60px;
}

.roundConteiner {
    display: flex;
}

.newRoundName {
    width: 80px;
}

.newRoundTime {
    width: 80px;
    margin-left: 506px;
}