/* Styling heading */
h1 {
    text-align: center;
    margin-top: 75px;
}
body {
    background: url("/assets/images/background.png") no-repeat center center;
}
/* Styling time area */
.timeTracker {
    background-color: rgb(0, 178, 175, 0.6);
    border-radius: 45px;
    box-shadow: 0px 0px 5px #666;
    width: 60%;
    height: 38%;
    margin: 0 auto;
    margin-top: 30px;
    left: 275px;
    position: absolute;
}

.timeArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
}

.blockTime {
    
    width: 150px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.time {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 60px;
}

/* Style of buttons */
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    margin-top: 94px;
    bottom: 45px;
}

.button {
    border: none;
    border-radius: 30px;
    font-size: 18px;
    padding: 10px;
    width: 180px;
    margin-right: 30px;
    margin-left: 30px;
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 5px #666;
}

.start {
    background-color:  rgb(0, 95, 102);

}

.stop {
    background-color:  rgba(240, 102, 114, 0.9);
}

.resume {
    background-color:  rgb(0, 95, 102);
}

.pause {
    background-color: yellow;
}

#startNewtask {
    background-color: green;
    border-radius: 100px;
}

.newRoundButton {
    background-color: rgb(217,217,217);
}


/* Round area */

.roundArea {
    box-shadow: 0px 0px 5px #666;
    border-radius: 27px;
    padding: 10px;
    margin: 10px;
    min-height: 20px;
    background-color: rgb(217,217,217, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-left: 60px;
    margin-right: 60px;
}

.roundConteiner {
    display: flex;
}

.newRoundName {
    width: 80px;
    margin-left: 30px;
}

.newRoundTime {
    width: 100px;
}