@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Domine&family=Playfair+Display+SC&display=swap');

html {
    scroll-behavior: smooth;
    background-image: -webkit-linear-gradient(7deg, rgb(255, 231, 226), rgb(238, 255, 234));
    border-color: rgb(55, 133, 247);
    height: 110%;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
    position: relative;
}

/* Styling heading */
h1 {
    text-align: center;
    margin-top: 75px;
    font-size: 48px;
}

.howToUse {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

body {
    font-family: Zaychik;
}


/* Styling time area */

.timerContainer {

    width: 100%;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeTracker {
    background-color: rgb(30 31 31 / 86%);
    border-radius: 18px;
    width: 40%;
    transition: .2s ease-in-out;
    box-shadow: 13px 12px 20px 6px #666;
}

.empty1 {
    width: 80%;
}

.empty2 {
    width: 10%;
}

.timeArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    color: rgb(217, 217, 217);
    position: relative;
    margin-top: 35px;
}

.blockTime {
    width: 134px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87px;
    font-size: 60px;
}

/* Style of buttons */
.hide {
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-top: 92px;
    bottom: 46px;
    position: relative;
}

.button {
    border: none;
    border-radius: 30px;
    font-size: 18px;
    padding: 10px;
    width: 30%;
    font-family: Zaychik;
}

#aboutTimerButton {
    background-color: rgb(30 31 31 / 86%);
    color: rgb(217, 217, 217);
    border: none;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    width: 30%;
    transition: .2s ease-in-out;
    box-shadow: 5px 4px 6px #666;
    font-family: Zaychik;
}

.instruction {
    width: 50%;
}

#textToShow {
    margin-top: 15px;
}

.start {
    background-color: rgb(53 158 166);

}

.reset {
    background-color: rgb(239 162 169 / 90%);
}

.resume {
    background-color: rgb(0, 95, 102);
}

.pause {
    background-color: rgb(244 210 132 / 90%);
}

#startNewtask {
    background-color: green;
    border-radius: 100px;
}

.newRoundButton {
    background-color: rgb(217, 217, 217);
}

.noActive{
    color: rgb(136 136 136);
}

/* Styling round area */

.roundsField {
    width: 100%;
    text-align: center;
    margin: 25px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rounds {
    margin-bottom: 50px;
}

.roundArea {
    box-shadow: 0px 0px 5px #666;
    border-radius: 27px;
    padding: 5px;
    margin: 8px;
    min-height: 10px;
    background-color: rgb(99 96 96 / 11%);
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    transition: .2s ease-in-out;
    box-shadow: 5px 4px 6px #666;
}

.roundConteiner {
    display: flex;
}

.newRoundName {
    width: 80px;
    margin-left: 30px;
    margin-top: 10px;
}

.newRoundTime {
    width: 195px;
    margin-left: 142px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.roundNumber {
    margin-top: 10px;
}

/*media queries*/

/*for big screen sizes from 1500px wide and down*/
@media screen and (max-width:1500px) {
    .button {
        width: 20%;
    }

    .time {
        font-size: 50px;
    }

    .newRoundTime,
    .newRoundName,
    .roundNumber {
        margin-top: 6px;
        height: 10px;
    }
}

/*for big screen sizes from 1200px wide and down*/
@media screen and (max-width:1200px) {
    h1 {
        font-size: 40px;
    }

    .empty2 {
        width: 5%;
    }

    .leftRightEmpty {
        width: 15%;
    }

    .roundArea {
        margin: 10px;
    }

    .newRoundName {
        margin-top: 6px;
        height: 10px;
        margin-left: 10px;
    }

    .roundNumber {
        margin-top: 6px;
        height: 10px;
        margin-left: 10px;
    }

    .newRoundTime {
        margin-left: 20px;
    }
}

/*for big screen sizes from 910px wide and down*/
@media screen and (max-width:910px) {

    .instruction {
        width: 75%;
    }

    .time {
        font-size: 40px;
    }

    .button {
        font-size: 16px;
    }
}

/*for big screen sizes from 825px wide and down*/
@media screen and (max-width:825px) {

    .time {
        font-size: 35px;
    }

    .empty1 {
        width: 120%;
    }

    .buttons {
        bottom: 90px;
    }

    .timeTracker {
        height: 190px;
    }

    .newRoundTime {
        margin-left: 0px;
        width: 175%;
    }
}

/*for big screen sizes from 725px wide and down*/
@media screen and (max-width:725px) {

    .timeTracker {
        height: 215px;
    }

    .buttons {
        display: inline;
        bottom: 0;
    }

    .timeArea {
        margin-top: 0px;
    }

    .button {
        font-size: 14px;
        height: 25px;
        padding: 2px;
        margin-top: 10px;
        width: 40%;
    }
}

/*for big screen sizes from 620px wide and down*/
@media screen and (max-width:620px) {

    .timeTracker {
        height: 215px;
        width: 50%;
    }

    .blockTime {
        height: 60px;
        margin-bottom: 20px;
    }

    .instruction {
        width: 100%;
    }

    .time {
        font-size: 30px;
    }

    .button {
        font-size: 14px;
        height: 25px;
        padding: 2px;
        margin-top: 10px;
        width: 40%;
    }
}

/*for big screen sizes from 500px wide and down*/
@media screen and (max-width:500px) {

    #aboutTimerButton {
        width: 45%;
        font-size: 15px;
    }

    .timeTracker {
        width: 60%;
    }
}

/*for big screen sizes from 420px wide and down*/
@media screen and (max-width:420px) {

    #aboutTimerButton {
        width: 45%;
        font-size: 15px;
    }

    .timeTracker {
        width: 70%;
    }

    .blockTime {
        width: 80px;
        margin-top: 8px;
    }
}


/*for big screen sizes from 314px wide and down*/
@media screen and (max-width:314px) {
    .howToUse {
        padding: 10px;
    }

    .timeTracker {
        width: 80%;
        margin-top: 10px;
    }

    .button {
        font-size: 17px;
        height: 30px;
        padding: 2px;
        margin-top: 10px;
        width: 49%;
    }

    .timeTracker {
        height: 225px;
    }

    #aboutTimerButton {
        width: 65%;
        font-size: 17px;
    }
}

/*for big screen sizes from 280px wide and down*/
@media screen and (max-width:280px) {
    .howToUse {
        padding: 10px;
        margin: 10px auto;
    }  
}